<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Déclarants</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Ajoutez les liens vers les fichiers CSS de Bootstrap ici -->
</head>
<body>
<div class="container">
    <h1 class="mt-4">Liste des Déclarants</h1>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th scope="col">Raison Sociale</th>
            <th scope="col">Adresse</th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="declarant : ${declarants}">
            <td th:text="${declarant.raisonSociale}"></td>
            <td th:text="${declarant.adresse}"></td>
            <td th:text="${declarant.email}"></td>
            <td th:text="${declarant.telephone}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<!-- Ajoutez les liens vers les fichiers JavaScript de Bootstrap ici -->
</body>
</html>
